<ul class="side-nav center" id="mobile-demo">
    <li><h4 class="red-text text-accent-3">{{site_moto}}</h4></li>
    <div class="divider"></div>
    <li><a href="{{blog_url}}">All articles</a></li>
    <li><a href="{{site_url}}">About me</a></li>
    <li><a href="mailto:{{mail}}">Contact</a></li>
    <li><a href="{{socials.github}}">GitHub</a></li>
</ul>