<nav class="z-depth-0 parallax-navbar">
    <div class="container">
        <div class="nav-wrapper">
            <a href="{{site_url}}/blog" class="brand-logo">{{site_moto}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{site_url}}/blog">Articles</a></li>
                <li><a href="{{site_url}}">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{{socials.github}}">GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>