<!DOCTYPE html>
<html>
    {% include '_snippets/head.twig' %}
    <body>
    
        {% if (post.id != 1) %}
        <div class="parallax-container">
          
            {% include '_snippets/navbar.twig' %}
          
            <div class="parallax">
                <img src="{{site_url}}/img/{{post.img}}" />
            </div>
            <div class="container ">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="white-text center headline-text">{{post.title}}</h1>
                <div class="chip category-chip">
                    {{post.category}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container container-tight">
        <br>
        <br>
        By: Ilyes Chouia | 
        {% if (post.id != 1) %}
        <span class="fas fa-comment"></span><a href="#disqus_thread">Post a comment</a>
        {% endif %}

        {% block content %}{% endblock %}
        
        {% if (post.id != 1) %}
        <br>
        <br>
        {% include '_snippets/disqus.twig' %}
        {% endif %}
        </div>

        <!-- footer -->
        <br>
        <br>
        <br>
        <br>
        
        {% include '_snippets/footer.twig' %}

        <!-- scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/languages/php.min.js"></script>
        <script src="{{site_url}}/assets/blog/js/main.js"></script>

    </body>
</html>