<div class="row">
    <div class="col-12 text-center">
        <h1 class="section-title">Celyes::ShowWorks</h1>
        <br>
    </div>
        {% for project in projects %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="project-card">
                <a target="_blank" rel="noopener" href="{{project.link}}" class="title">{{project.title}}</a>
                <p class="description">{{project.description}}</p>
                <div class="col-xs-4 col-sm-2 language">
                    <span class="circle {{project.class}}"></span>
                    <span class="type">{{project.type}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>