---
id: 1
layout: "_layouts/blog.twig"
title: "Celyes' Web blog - browse all articles"
relativeUrl: "index"
category: "index"
img: "#"
---
{% for post in posts %}
    {% if (post.id != 1) %} 
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="project-card">
            <a rel="noopener" href="{{site_url}}/{{post.relativeUrl}}" class="title">{{post.title}}</a>
            <small>{{post.category}}</small>  
            <!--<img src="{{site_url}}img/{{post.img}}"> -->
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>