<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <title>Welcome to my blog </title>   
    </head>
    <body>
        {% include "_layouts/navbar.twig" %}
        <div class="container py-5 px-2">
            {% for post in posts %}
                <img src="{{site_url}}/img/{{post.img}}" class="img-fluid" />
                <h3><a href="{{site_url}}/{{post.relativeUrl}}">{{post.title}}</a></h3>   
                <small class="text-danger">{{post.category}}</small>   
            {% endfor %}
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>